<h1>{{test.name}}</h1>
<h3>{{test.subject}}</h3>
<form action="{% url 'school_test:result' %}" method="post" >
<input type="hidden" id="id_studet" name="id_student" value="{{test.id_student}}">
<input type="hidden" id="id_test" name="id_test" value="{{test.id_test}}">
{% csrf_token %}
{% for question in test.questions %}
     <hr>
     <legend>{{question.question_text}}</legend>
     </fieldset>
          <p>
               <input type="radio" name="{{question.id}}" id="question{{ forloop.counter }}" value="1"/>
               <label for="opt1">{{question.op1}}</label>
          </p>
          <p>
               <input type="radio" name="{{question.id}}" id="question{{ forloop.counter }}" value="2"/>
               <label for="opt2">{{question.op2}}</label>
          </p>
          <p>
               <input type="radio" name="{{question.id}}" id="question{{ forloop.counter }}" value="3"/>
               <label for="opt3">{{question.op3}}</label>
          </p>
          <p>
               <input type="radio" name="{{question.id}}" id="question{{ forloop.counter }}" value="4"/>
               <label for="opt4">{{question.op4}}</label>
          </p>
     </fieldset>
{% endfor %}
<input type="submit" value="Concluir">
</form>